<div class="container">
<!-- TOLLBAR  -->
  <mat-toolbar
    color="primary"
    fxFlex= "0 0 0"
    fxLayoutAlign="space-between center"
    style="height: 100px !important">
    <span>Angular Switch Theme</span>
    <div class="fxFlex" fxLayoutAlign="flex-end center">
      <mat-icon
        class="mat-18"
        *ngIf="!isDark"
      >brightness_5</mat-icon>
      <mat-slide-toggle
        [formControl]="toggleControl"
        [(ngModel)]="isDark"
        (change)="storeThemeSelection()"
        style="margin: 0 10px;"
        color="accent"
      >
      </mat-slide-toggle>
      <mat-icon
        class="mat-18"
        *ngIf="isDark"
      >bedtime
      </mat-icon>
    </div>
  </mat-toolbar>
  <!--XXX TOLLBAR  -->
  <!-- MAIN CONTAINER -->
  <div
    fxFlex
    fxLayout="column"
    fxLayoutAlign="center center"
    class="content mat-app-background"
    style="height: 100%; width: 100%;"
  >
  <!-- CARD WRAPPER -->
    <div
      class="card-container"
      fxFlex
      fxLayout="row"
      fxLayoutAlign ="center center"
      style="width: 50%"
    >
    <!-- CARD INFO -->
      <div class="info" style="width: 50%">
        <h2 *ngIf="isDark">“Anakin Skywalker was weak. I destroyed him.”</h2>
        <h2 *ngIf="!isDark">“Rebels! Blast ’em.”</h2>
        <p>Dark theme has been selected: {{switchedCounter}}</p>
        <p *ngIf="isDark">The current mode is: Dark</p>
        <p *ngIf="!isDark">The current mode is: Light</p>
        <p>Last selected theme is : {{ lastTheme }}</p>
      </div>
    <!-- CARD IMAGE -->
      <div class="image" style="width:50%">
        <img *ngIf="isDark" style="height: 150px" src="../assets/darth.png" alt="darthvader">
        <img *ngIf="!isDark" style="height: 15s0px" src="../assets/storm.png" alt="stormtrooper">
      </div>
    </div>
  <!-- CARD WRAPPER -->
  </div>
<!--XXX MAIN CONTAINER -->
</div>
